
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.css" media="screen,projection" />
<link type="text/css" rel="stylesheet"
	href="/materialize/css/materialize.min.css" media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<style type="text/css">

form input[type=submit]{
color:white;
}
</style>


</head>
<body>
	<h3>Spring Teste + ThymeLeaf</h3>
	</br>
	<h5>Cadastro de pessoas</h5>
	</br>
	
	<div th:each="p:${pessoaobj}">
		
		<a class="waves-effect waves-light btn-small" href="/cadastropessoa">Voltar</a>
		
		<br>
		<br>
		<table>			
			<div class="row">
				<p>Id: <span th:text=${p.id}></span></p>
				<p>Nome: <span  th:text=${p.nome}></span></p>
				<p>Sobrenome: <span  th:text=${p.sobrenome}></span></p>
				<p>Idade: <span  th:text=${p.idade}></span></p>
			</div>
		</table>
	</div>
	
	<h5>Telefones</h5>
	<div class="row">
		<form th:action="@{/addTelefonePessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col s12">
			<div class="row">
				<div class="inpult-field col s6">
					<label class="active"  for ="numero">Número</label>
					 <input  id="numero" name="numero" class="validate" placeholder="Ex.: (00) 00000-0000" >	
				</div>
				<div class="inpult-field col s6">
					<label class="active"  for ="tipo">Tipo</label>
					 <input  id="tipo" name="tipo" class="validate">	
				</div>
			</div>
			
			<button class="btn-small waves-effect waves-light" type="submit" value="Salvar" name="action">
				Adicionar 
				<i class="material-icons right">add</i>
		</form>
	</div>
	
	
	
	
	<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>

</html>