<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">

<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"	media="screen,projection" />
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"	media="screen,projection" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<h1>1</h1>
<a href="/cadastropessoa">click aqui</a>
<div class="search-wrapper">
            <input id="search" placeholder="Search"><i class="material-icons">search</i>
            <div class="search-results"></div>
 </div>
<script type="text/javascript" src="/materialize/js/materialize.js"></script>
	<script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>